

header  {
  height: 100px;

}

header nav li {
  list-style: none;
}


main {
  margin-top: 20px;
}

main h1 {
  font-family: 'Oswald', sans-serif;
}

main h3 {
  font-family: 'Bungee Hairline', cursive;
}

section ul:first-child {
  font-family: 'Open Sans Condensed', sans-serif;
  list-style: none;
}

section ul:nth-child(2) {
  font-family: 'Exo 2', sans-serif;
}

#main-logo {
  float: left;
  margin-top: 10px;
  margin-right: 5px;

}

#left-side-mast {
  margin: 0px;
  width: 200px;
  height: 25px;
}

#left-side-mast h1 {
  font-family: pacifico;
}

#left-side-mast li {
  list-style: none;

}

#right-side-links {
  margin-top: 0px;
  margin-left: 660px;
}

#right-side-links li {
  display: inline-block;
  margin-left: 2px;
  height: 2px;
}
