* {
 border: 1px solid red;
}


header  {
  height: 100px;

}

header nav li {
  list-style: none;
}

/*nav {
  width: 900px;
  margin: 0px auto;
}*/

/*header nav img {

}*/

#main-logo {
  float: left;
  margin-top: 10px;
  margin-right: 5px;

}

#left-side-mast {
  margin: 0px;
  width: 200px;
  height: 25px;
}

#left-side-mast h1 {
  font-family: pacifico;
}

#left-side-mast li {
  list-style: none;

}

#right-side-links {
  margin-top: 0px;
  margin-left: 660px;
}

#right-side-links li {
  display: inline-block;
  margin-left: 2px;
  height: 2px;
}

main {
  margin-top: 20px;
}
